SG_PRODUCT_POSTGRES_IMAGE=postgres:17.6-alpine
SG_PRODUCT_POSTGRES_DATABASE=socialgrowth_product
SG_PRODUCT_POSTGRES_USER=socialgrowth_product
SG_PRODUCT_POSTGRES_PASSWORD=replace-for-local-development
SG_PRODUCT_POSTGRES_PORT=55432
SG_PRODUCT_REDIS_IMAGE=redis:8.2.1-alpine
SG_PRODUCT_REDIS_PORT=56379
SG_PRODUCT_MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z
SG_PRODUCT_MINIO_ROOT_USER=replace-for-local-development
SG_PRODUCT_MINIO_ROOT_PASSWORD=replace-for-local-development
SG_PRODUCT_MINIO_API_PORT=59000
SG_PRODUCT_MINIO_CONSOLE_PORT=59001
