{$SG_PRODUCT_SITE_ADDRESS} {
  encode zstd gzip
  request_body {
    max_size 130MB
  }
  @backend path /api/* /health/live
  handle @backend {
    reverse_proxy backend:4320
  }
  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy same-origin
    X-Frame-Options DENY
  }
}
